<div class="row">
  <div class="col">
    <h3 *ngIf="currentUser">
      Deel.<br>
      <small class=" text-muted">Wat wil je delen?</small>
    </h3>
    <form *ngIf="currentUser">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Kweet plaatsen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <textarea id="createKweetTextBox" matInput minlength="2" maxlength="255" [(ngModel)]="model.message"
                  placeholder="Jouw bericht..." name="message"></textarea>
                <mat-hint align="end">{{model.message.length}} / 255</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button id="createKweetButton" color="primary" (click)="place()" type="submit">Plaatsen</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div class="col-5">
    <h3 id="kwetterHomeKweetsTitle">
      Kweets.<br>
      <small class="text-muted">Kijk waar anderen het over hebben</small>
    </h3>
    <mat-card *ngIf="kweets.length == 0" class="kweet-card">
      <mat-card-header>
        <mat-card-title>
          <b>Het is hier nogal leeg.</b>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Begin met het volgen van mensen. Dan komen hier hun kweets te staan.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="kweet-card" *ngFor="let kweet of kweets" id="{{kweet.id}}" [class.highlighted]="kweet.isActive">
      <mat-card-header>
        <div mat-card-avatar class="kweet-card-header-image"></div>
        <mat-card-title>
          <a routerLink="/{{kweet.author.username}}" id="profileLink">
            <b>@{{kweet.author.username}}</b>
          </a>
        </mat-card-title>
        <mat-card-subtitle>{{kweet.createdTime | date: "d-MMM-''yy @ HH:mm"}}</mat-card-subtitle>
      </mat-card-header>
      <!-- optional image here? -->
      <mat-card-content>
        <p>
          {{kweet.body}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button>REPORT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col">
    <h3 *ngIf="currentUser">
      Hallo, <span *ngIf="currentUser.name">{{currentUser.name}}</span>
      <span *ngIf="!currentUser.name"> @{{currentUser.username}}</span>.<br>
      <small class="text-muted">Jouw statistieken</small>
    </h3>
    <mat-card *ngIf="currentUser">
      TO-DO: show last kweet
      <br>
      TO-DO: show follower count
    </mat-card>
    <br>
    <h4 *ngIf="currentUser">
      Suggesties voor jou:<br>
      <small class="text-muted">Op basis van mensen die je volgt.</small>
    </h4>
    <mat-card *ngIf="currentUser" class="user-list-card">
      <mat-nav-list *ngIf="suggestions.length == 0">
        <a mat-list-item class="text-muted">Geen suggesties</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="suggestions.length > 0">
        <a mat-list-item *ngFor="let user of suggestions" routerLink="/{{user.username}}">
          <span>
            @{{user.username}}<br>
            <small class="text-muted">Gevolgd door {{user.nr}} vrienden</small>
          </span>
        </a>
      </mat-nav-list>
    </mat-card>
  </div>
</div>