.login-card {
  top: 50%;
  text-align: center;
  min-width: 400px;
  max-width: 400px;
  margin: auto;
  vertical-align: middle;
}

.login-spacer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 50vh;
  position: relative;
}

.login-spacer,
.login-spacer:before,
.login-spacer:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login-spacer::before,
.login-spacer::after {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  content: "";
  display: block;
  height: 24px;
  min-height: 24px;
}
