@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */

.kweet-card {
  margin: 8px auto auto auto;
}

.kweet-card-header-image {
  background-image: url("./assets/img/img_avatar.png");
  background-size: cover;
}