<div class="row">
  <div class="col col-6">
    <div class="padding-small centered">
      <div class="row">
        <div class="col col-12">
          <div class="padding-small centered">
            <h3>{{profile.user.username}}</h3>
            <img src="assets/img/img_avatar.png" class="avatar">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="padding-small centered">
          <h3>My tweets</h3>
          <div class="kweets">
            <div class="card" *ngFor="let kweet of profile.kweets">
              <div class="content">
                <b>{{kweet.author.username}}</b>
                <p>{{kweet.body}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-6">
    <div class="padding-small centered">
      <div class="row">
        <div class="col col-12">
          <div class="padding-small centered">
            <h3>My details</h3>
            {{profile.user.name}}<br>
            {{profile.user.location}}<br>
            {{profile.user.website}}<br>
            {{profile.user.biography}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <div class="padding-small centered">
            <h3>My stats </h3>
            following: {{profile.following.length}}
            followers: {{profile.followers.length}}
            tweets: {{profile.kweets.length}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <div class="padding-small centered">
            <h3> Following </h3>
            <table align="center">
              <tr *ngFor="let user of profile.following">
                <td><a href="/{{user.username}}">{{user.username}}</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>