<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- prime theme -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>luna-amber</param-value>
    </context-param>
    <!-- web fonts -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>nlogin.xhtml</welcome-file>
    </welcome-file-list>
    <!-- SECURITY REALMS AND CONFIGURATION -->
    <security-role>
        <role-name>adminmgmt</role-name>
    </security-role>
    <security-role>
        <role-name>moderatormgmt</role-name>
    </security-role>
    <security-role>
        <role-name>usermgmt</role-name>
    </security-role>
    <security-role>
        <role-name>kweetmgmt</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>KwetterSecRealm</realm-name>
        <form-login-config>
            <form-login-page>/nlogin.xhtml</form-login-page>
            <form-error-page>/nlogin.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>adminmgmt</role-name>
            <role-name>moderatormgmt</role-name>
            <role-name>usermgmt</role-name>
            <role-name>kweetmgmt</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <url-pattern>/admin/kweet/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>kweetmgmt</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <url-pattern>/admin/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>usermgmt</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <url-pattern>/admin/role/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>adminmgmt</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <url-pattern>/admin/permission/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>adminmgmt</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- ERROR PAGE CONFIGURATION -->
    <error-page>
        <error-code>403</error-code>
        <location>/403.xhtml?faces-redirect=true</location>
    </error-page>
    <error-page>
        <location>/nlogin.xhtml</location>
    </error-page>
</web-app>
