<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      Oh no! 404.<br>
      <small class="text-muted">Page not found.</small>
    </h1>
    <div class="card" style="width: 100%">
      <img class="card-img-top" src="https://cdn.dribbble.com/users/497127/screenshots/2309639/404-planet.gif"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
          Click hieronder om terug te gaan naar start.
        </p>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
</div>