<!-- <mat-toolbar class="mat-primary container" role="heading">
  <a mat-button routerLink="/">KWETTER</a>
  <a mat-button routerLink="/">Home</a>
  <span class="navbar-spacer"></span>
  <a mat-button href="/Antonio">Mijn profiel</a>
  <a mat-button routerLink="/login">Inloggen</a>
  <a mat-button href="/admin">Uitloggen</a>
</mat-toolbar>
<div class="container">
  <mat-toolbar>
    <span class="navbar-spacer"></span>
    <span>
      <mat-search-bar></mat-search-bar>
    </span>
    <span>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
      </form>
    </span>
    <span class="navbar-spacer"></span>
  </mat-toolbar>
</div>
<div class="container">
  <h1>Kwetter</h1>
  <p>Navigation:</p>
  <ul>
    <li>
      <input type="text" placeholder="Search...." />
      <input type="button" value="Go" />
    </li>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/antonio">antonio's profiel</a>
    </li>
    <li>
      <a href="/login">login</a>
    </li>
    <li>
      <a href="/login">log out</a>
    </li>
  </ul>
</div>
<hr>
<div class="container">

</div> -->
<router-outlet></router-outlet>